@media (min-width: 1150px) {
  .App {
    height: max-content;
    background-repeat: no-repeat;
    background-image: url("./Components/Images/bg-curvy-desktop.svg"), linear-gradient(hsl(217, 28%, 15%) 48%, hsl(218, 28%, 13%) 0%);
    background-size: contain;
    background-color: hsl(217, 28%, 15%);
    background-position-y: 35%;
  }
  
}

@media (max-width: 11490px) {
  .App {
    height: max-content;
    background-repeat: no-repeat;
    background-image: url("./Components/Images/bg-curvy-desktop.svg"), linear-gradient(hsl(217, 28%, 15%) 2.9%, hsl(218, 28%, 13%) 0%);
    background-size: contain;
    background-color: hsl(217, 28%, 15%);
    background-position-y: 275px;
  }
  
}